<div>
  <div>
    <div *ngIf="!user" class="g-signin2" (click)="googleLogin()" data-theme="dark"></div>
    <button *ngIf="user" (click)="signOut()">signout</button>
  </div>

  <span>showing {{color}}</span>
  <button (click)="color=color=='blue'?'red':'blue'">blue|red</button>
  <app-cars [color]="color"></app-cars>
  <input #matricula type="text">
  <button (click)="create_car(matricula.value, 'red')">create red car</button>
  <button (click)="create_car(matricula.value, 'blue')">create blue car</button>
</div>
