<div>
  <div>
    <div *ngIf="!user" class="g-signin2" (click)="googleLogin()" data-theme="dark"></div>
    <button *ngIf="user" (click)="signOut()">signout</button>
  </div>

  <span>showing {{color}}</span>
  <button (click)="color=color=='blue'?'red':'blue'">blue|red</button>
  <app-cars [color]="color"></app-cars>
  <form>
    <span>Matricula:</span>
    <input type="text" [(ngModel)]="doc.matricula" name="matricula" >
    <span>Power:</span>
    <input type="text" class="form-control" [(ngModel)]="doc.power" #name="ngModel" number name="power">
    <span class="error">{{errors.power}}</span>
    <span>Date:</span>
    <input [(ngModel)]="doc.date" ngui-datetime-picker date-only="true" name="date" /> <!--date-format="DD-MM-YYYY HH:mm" />-->
    <button (click)="create_car()">create car</button>
  </form>
</div>
